@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral Colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family: 'var(--font-ubuntu-regular)', Arial, Helvetica, sans-serif;
  --font-size-paragraph: 16px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  color: var(--marine-blue); /* Default text color */
  background: var(--alabaster); /* Default background color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ubuntu-bold); /* Bold font for headings */
}

p, span, div {
  font-family: var(--font-ubuntu-regular);
}

strong, b, label {
  font-family: var(--font-ubuntu-medium); /* Medium font for emphasis */
}

a {
  color: var(--purplish-blue);
  font-family: var(--font-ubuntu-regular);
  text-decoration: none;
}

a:hover {
  color: var(--marine-blue);
  text-decoration: none;
}

button {
  background-color: var(--marine-blue);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--marine-blue);
  opacity: 0.8;
}

input, textarea {
  border: 1px solid var(--cool-gray);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: var(--font-ubuntu-medium);
}

input:focus, textarea:focus {
  border-color: var(--purplish-blue);
  outline: none;
}

.custom-toast-container {
  width: 400px; /* Default width for desktop */
}

@media (max-width: 768px) {
  .custom-toast-container {
    width: 90%; /* Adjust the width for mobile (smaller screen size) */
    margin-left: 5%;
  }
}
